---
import { Bio } from "../components/Bio";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Default from "../layouts/Default.astro";
---

<Default content={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}
  ><main class="px-10 m-auto" style="max-width: 1024px;">
    <Bio />
  </main>
</Default>
